:root {
    /* Colors */
    --razor-color: #000000;
    --bomb-color: #910b0b;
    --machine-color: #000000;

    --dirt-color: #FFFFFF;
    --sprout-color: #7bb374;
    --teen-color: #bcddbb;
    --adult-color: #F64CFF;

    --hover-color: #814a3f;
}